body{
    background-image: url(./images/backgroundimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75px;
    /* display: flex; */
    /* flex-direction: column; */
    /* padding: 20px 0 80px 0; */
}


.searchButton{
    background-color: whitesmoke;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    border-radius: 10px;
    display: flex;
    font-size: 15px;
    margin-left: 5px;
} 

.title{
    color: white;
    padding-top: 10px;
}

.forecastCard{
 background-color:royalblue;
 color: white;
}